[Desktop Entry]
Name=Ambassador of Pain
GenericName=Ambassador of Pain game
Comment=Ncurses based arcade game with only 64 lines of code
Exec=aop
Icon=aop
Categories=Game;ArcadeGame;
Type=Application
Terminal=true
