[Desktop Entry]
Name=SolarFighter
GenericName=SolarFox
Comment=Action/arcade game originally based of Solarwolf
Exec=solarfighter
Icon=solarfighter
Type=Application
Categories=Game;ActionGame;ArcadeGame;
StartupNotify=false
