# Please note that the service nrpe should be up and running on your client
# and allowing the Nagios server access (to port 5666).
#
# Please have a look at /etc/nrpe.cfg on the client to see which 'command'
# you can execute (use the name in the bracket behind the command argument
# as $ARG1$).

# this command runs command $ARG1$
define command {
    command_name    check_nrpe
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
}

# this command runs command $ARG1$ with one argument
# please note that you need to set
# dont_blame_nrpe=1
# in your nrpe.cfg on the client to allow specifying arguments to commands 
# that are executed via nrpe. 
# *** ENABLING THIS OPTION on the client IS A SECURITY RISK! ***
define command {
    command_name    check_nrpe_with_arg
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c $ARG1$ -a $ARG2$
}

