# This is the absolute bare minimum base configuration file.  User supplied
# configurations are pushed onto this.

[mailman]
# This address is the "site owner" address.  Certain messages which must be
# delivered to a human, but which can't be delivered to a list owner (e.g. a
# bounce from a list owner), will be sent to this address.  It should point to
# a human.
site_owner: root@localhost

# Set the paths to be fhs compliant
layout: fhs
[paths.fhs]
ext_dir: /etc/mailman.d
bin_dir: /usr/bin
var_dir: /var/lib/mailman
queue_dir: /var/spool/mailman
log_dir: /var/log/mailman
lock_dir: /run/lock/mailman
pid_file: /run/mailman/master.pid

### ADD NEW SECTIONS AFTER THIS LINE ###

# [webservice]
# admin_user: restadmin
# admin_pass: secret
