[Desktop Entry]
Name=ImageJ
GenericName="ImageJ public domain Java image processing program"
GenericName[DE]="Wissenschaftliches Bildbearbeitungsprogramm"
Type=Application
Comment=Image Processing
Comment[DE]=Bildverarbeitung
Exec=imagej
TryExec=imagej
Icon=imagej
Terminal=false
Categories=Graphics;2DGraphics;
X-SuSE-translation=true
