[Desktop Entry]
Name=Galaxis
GenericName=Galaxis game
Comment=Clone of the nifty little Macintosh game
Exec=galaxis
Icon=galaxis
Categories=Game;StrategyGame;
Type=Application
Terminal=true
