[Unit]
Description=CFEngine Monitoring Daemon
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/bin/cf-monitord

[Install]
WantedBy=multi-user.target
