[Unit]
Description=Courier POP3 (SSL)
Wants=courier-authdaemon.service
Wants=courier-pop-gencert.service
After=syslog.target
After=network.target
After=courier-authdaemon.target
After=courier-authdaemon.service
After=courier-pop-gencert.service

[Service]
EnvironmentFile=/etc/courier/pop3d
EnvironmentFile=/etc/courier/pop3d-ssl
Environment="SSLPIDFILE=/run/pop3d-ssl.pid" "LOCKFILE=/run/pop3d-ssl.pid.lock"
PIDFile=/run/pop3d-ssl.pid
LimitNOFILE=65536
ExecStart=/usr/bin/env - /bin/sh -c " set -a ; \
  . /etc/courier/pop3d ; \
  . /etc/courier/pop3d-ssl ; \
  POP3_TLS=1; POP3_STARTTLS=NO; POP3_TLS_REQUIRED=0; \
  PROXY_HOSTNAME=$PROXY_HOSTNAME ; \
  /usr/sbin/courierlogger -pid=$SSLPIDFILE -start $SSLLOGGEROPTS \
    /usr/lib/courier-imap/couriertcpd -address=$SSLADDRESS \
    -maxprocs=$MAXDAEMONS -maxperip=$MAXPERIP $TCPDOPTS \
    $SSLPORT $COURIERTLS -server -tcpd /usr/sbin/pop3login \
    /usr/sbin/pop3d $MAILDIRPATH"
ExecStop=/usr/sbin/courierlogger -pid=$SSLPIDFILE -stop
ExecStopPost=/usr/bin/rm $SSLPIDFILE $LOCKFILE
Restart=always

[Install]
WantedBy=multi-user.target
