[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=fvwm
TryExec=fvwm
Name=FVWM
Name[hi]=एफ़वीडबल्यूएम
Name[xx]=xxFVWMxx
Comment=A powerful ICCCM-compliant multiple virtual desktop window manager
Comment[ar]=مدير نوافذ قوي ومتوافق مع ICCCM ذي أسطح مكتب وهمية متعددة
Comment[bn]= একটি শক্তিশালী ICCCM-compliant উইণ্ডো ম্যানেজার, যাতে একাধিক ভার্চুয়াল ডেস্কটপ সম্ভব
Comment[bs]=Moćan ICCCM-sukladan window manager sa podrškom za više virtuelnih desktopa
Comment[ca]=Un poderós gestor de finestres per a múltiples escriptoris virtuals que compleix amb ICCCM
Comment[cy]=Trefnydd ffenestri pwerus efo penbyrddau rhith lluosol, sy'n cydymffurfio â ICCCM
Comment[da]=En kraftig ICCCM-kompliant vindueshåndtering med flere virtuelle desktoppe
Comment[de]=Ein mächtiger ICCCM-kompatibler Fenstermanager mit vielen virtuellen Arbeitsflächen
Comment[el]=Ένας πολύ δυνατός, συμβατός με το ICCCM, διαχειριστής παραθύρων με πολλαπλές εικονικές επιφάνειες εργασίας
Comment[eo]=Fenestroadministrilo
Comment[es]=Un potente administrador de ventanas, compatible con ICCCM y que soporta varios escritorios virtuales
Comment[et]=Võimas ICCCM nõuetele vastav mitme virtuaalse töölauaga aknahaldur
Comment[eu]=ICCCM konpatiblea den, eta mahaigain birtual ugari dituen leiho kudeatzaile bortitza
Comment[fi]=Tehokas ICCCM-mukautuva virtuaalityöpöytiä tukeva ikkunaohjelma
Comment[fr]=Un gestionnaire de fenêtres puissant compatible ICCCM avec gestion de bureaux virtuels multiples
Comment[fy]=In krêftige ICCCM-compliant finstersmanager mei meardere buroblêden
Comment[gl]=Un xestor de fiestras potente acorde coa ICCCM con múltiples escritorios virtuais
Comment[he]=מנהל חלונות עצמתי עם תאימות ל־ICCCM בעל שולחנות עבודה וירטואליים רבים
Comment[hi]=शक्तिशाली आईसीसीसीएम-कम्पलाएंट अनेक आभासी डेस्कटॉप विंडो प्रबंधक
Comment[hr]=Moćni, ICCCM kompatibilni, upravitelj prozora s više virtualnih radnih površina
Comment[hu]=Egy sokoldalú, ICCCM-kompatibilis ablakkezelő, virtuális munkaasztal-kezeléssel
Comment[is]=Öflugur ICCCM samhæfður gluggastjóri með sýndarskjáborðum
Comment[it]=Un window manager molto potente e ICCCM-compatibile che supporta i desktop virtuali
Comment[ja]=複数の仮想デスクトップをサポートしたICCCM準拠のパワフルなウィンドウマネージャ
Comment[lt]=galinga, su ICCCM suderinama daugelio virtualių darbastalių langų tvarkyklė
Comment[mk]=Моќен менаџер на прозорци со повеќе виртуелни површини во согласност со ICCCM
Comment[mt]=Window manager b'saħħtu, konformi ma' ICCCM, b'desktops virtwali.
Comment[nb]=En slagkraftig vindusbehandler med flere virtuelle skrivbord, som støtter ICCCM
Comment[nds]=En kraftvulle, ICCCM-kompatible Finsterpleger, mit vele virtuelle Schriefdischen
Comment[nl]=Een krachtige ICCCM-compliant windowmanager met meerdere bureaubladen
Comment[nn]=Ein slagkraftig vindaugssjef med fleire virtuelle skrivebord, som støttar ICCCM
Comment[pa]=ਇੱਕ ਸ਼ਕਤੀਸ਼ਾਲੀ ICCCM-ਅਨੁਕੂਲ ਬਹੁ-ਫਰਜ਼ੀ ਵਿਹੜਿਆਂ ਵਾਲਾ ਝਰੋਖਾ ਪ੍ਰਬੰਧਕ
Comment[pl]=Potężny menedżer okien zgodny z ICCCM obsługujący wirtualne pulpity
Comment[pt]=Um gestor de janelas poderoso em conformidade com o ICCCM e que suporta vários ecrãs virtuais
Comment[pt_BR]=Um poderoso gerenciador de janelas compatível com o ICCM, com suporte a múltiplas áreas de trabalho virtuais
Comment[ro]=Un manager de ferestre puternic compliant ICCCM ce suportă ecrane virtuale
Comment[ru]=Мощный ICCCM-совместимый оконный менеджер, поддерживающий виртуальные рабочие столы
Comment[sk]=Výkonný správca okien kompatibilný s ICCCM s podporou virtuálnych plôch
Comment[sl]=Močan okenski upravitelj z večimi navideznimi namizji in popolnoma v skladu z ICCCM
Comment[sr]=Моћни, ICCCM-сагласни, менаџер прозора са више виртуелних радних површина
Comment[sr@Latn]=Moćni, ICCCM-saglasni, menadžer prozora sa više virtuelnih radnih površina
Comment[sv]=Kraftfull fönsterhanterare med flera virtuella skrivbord som följer ICCCM
Comment[ta]=ICCCM-தரத்தில் பலதரப்பட்ட மெய்நிகர் மேல் மேசை சாளர மேளாளர்
Comment[tr]=Güçlü ICCCM-uyumlu çoklu sanal masaüstü yöneticisi
Comment[uk]=Потужний, сумісний з ICCCM менеджер вікон, з підтримкою віртуальних стільниць
Comment[vi]=Trình quản lý cửa sổ ICCCM tương thích đa desktop ảo
Comment[xx]=xxA powerful ICCCM-compliant multiple virtual desktop window managerxx
Comment[zh_CN]=强大的多虚拟桌面窗口管理器，与 ICCCM 兼容
Comment[zh_TW]=一個強大的 ICCCM 相容的多重虛擬桌面視窗管理程式
