[Unit]
Description=Knot DNS server daemon
After=syslog.target network.target auditd.service

[Service]
ExecStart=/usr/sbin/knotd $OPTIONS
ExecReload=/usr/sbin/knotc reload
Restart=on-abort

[Install]
WantedBy=multi-user.target

