[Unit]
Description=Daemon to start Shadowsocks-libev-server
Wants=network-online.target
After=network.target

[Service]
Type=forking
PIDFile=/var/run/shadowsocks-libev-server.pid
ExecStart=/usr/bin/ss-server -c /etc/shadowsocks/shadowsocks-libev-config.json -f /var/run/shadowsocks-libev-server.pid -u --fast-open
Restart=on-failure

[Install]
WantedBy=multi-user.target
