[Unit]
Description=Daemon to start Shadowsocks-libev-tunnel
Wants=network-online.target
After=network.target

[Service]
Type=forking
PIDFile=/var/run/shadowsocks-libev-tunnel@%i.pid
ExecStart=/usr/bin/ss-tunnel -c /etc/shadowsocks/%i.json -f /var/run/shadowsocks-libev-tunnel@%i.pid -u --fast-open
Restart=on-failure

[Install]
WantedBy=multi-user.target
