[Unit]
Description=Execute fixup commands for matched storage devices
Documentation=man:storage-fixup(8)
DefaultDependencies=false
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/storage-fixup

[Install]
WantedBy=sysinit.target
