# Original idea: Torsten.Goedicke@wlw.de
# Modified for SUSE LINUX by joe@suse.de

# simple configuration file for the pen loadbalancer
# BEZx="Name for instance"
# PIDx=/var/run/pen.pid-[Port]
# CONx=$HOST:800x
# PENx="-p $PIDx -C $CONx [Port] [Server1:Port] [Server2:Port]"
#

# The entries in COUNT must match the numbers used below
# i.e. if you add another instance using BEZ2, PID2, etc.
# you also have to change COUNT from "1" to "1 2".

COUNT="1"

# If want to use port 80 as in the default you can't run an Apache server
# or any otherweb server on the same port at the same time!

BEZ1="WWW Proxy"
PID1=/var/run/pen.pid-8080
CON1=localhost:8001
PEN1="-x 500 -p $PID1 -C $CON1 8080 server1:80 server2:80"
