[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Freeciv
Name[be]=Свабодная Цывілізацыя
Name[bg]=Цивилизация
Name[eo]=Libera Civilizludo
Name[fa]=تمدن‌آزاد
Name[nso]=civ yeo e lokollogilego
Name[sv]=Friciv
Name[ven]=civ ya Mahala
Name[vi]=Freeciv 
Name[zh_CN]=文明
Name[zh_TW]=Freeciv 仿「文明帝國」遊戲
Type=Application
GenericName=Strategy Game
GenericName[af]=Strategie Speletjie
GenericName[be]=Стратэгічная гульня
GenericName[bg]=Стратегическа Игра
GenericName[bs]=Strateška igra
GenericName[ca]=Joc d'estratègia
GenericName[cs]=Strategická hra
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι Στρατηγικής
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegiamäng
GenericName[fa]=بازی استراتژیک
GenericName[fi]=Strategiapeli
GenericName[fo]=Strategispæl
GenericName[fr]=Jeu de stratégie
GenericName[he]=משחק אסטרטגיה
GenericName[hr]=Igra strategije
GenericName[hu]=stratégiai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[lo]=ເກມກົນລະຍຸດ
GenericName[lt]=Strateginis žaidimas
GenericName[lv]=Stratēģiskā Game
GenericName[mk]=Стратегиска игра
GenericName[mn]=Стратегийн тоглоом
GenericName[mt]=Logħba ta' strateġija
GenericName[nb]=Strategispill
GenericName[nl]=strategisch spel
GenericName[nn]=Strategispel
GenericName[nso]=Papadi ya Mokgwa wa Tharollo
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегическая игра
GenericName[se]=Strategiijaspeallu
GenericName[sk]=Strategická hra
GenericName[sl]=Strateška igra
GenericName[ss]=Umdlalo wekusebentisa indlela yekwenta
GenericName[sv]=Strategispel
GenericName[th]=เกมกลยุทธ์
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[ven]=Mutambo wa maitele awo
GenericName[xh]=Indlela ethile Yomdlalo
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
GenericName[zu]=Umdlalo weplani
Exec=freeciv-gtk3
Icon=freeciv
Path=
Terminal=false

Categories=Game;StrategyGame
