[Desktop Entry]
Name=R'n'D jue
GenericName=Arcade Game
Comment=Colorful Boulderdash'n'Emerald Mine'n'Sokoban'n'Stuff jue
Exec=rnd_jue
Icon=rnd_jue
Type=Application
Categories=Game;ArcadeGame
StartupNotify=false
