[Desktop Entry]
Encoding=UTF-8
Name=Heimdall
GenericName=Samsung Galaxy S Device Firmware Flasher
Comment=Flashing Firmware onto Samsung Galaxy S devices
Exec=heimdall-frontend
Icon=heimdall_32
Version=1.0
Terminal=false
Type=Application
Categories=
StartupNotify=true
