[Unit]
Description=memcached daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/memcached
ExecStart=/usr/sbin/memcached -u $MEMCACHED_USER $MEMCACHED_PARAMS

[Install]
WantedBy=multi-user.target
