[Unit]
Description=Dovecot IMAP/POP3 email server
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/dovecot -F
ExecReload=/usr/bin/doveadm reload
NonBlocking=yes

[Install]
WantedBy=multi-user.target
