[Unit]
Description=Telnet Server Activation Socket
Documentation=man:telnetd(8)
PartOf=telnet.target

[Socket]
ListenStream=23
Accept=true

[Install]
WantedBy=sockets.target
