[Unit]
Description=The Regina Rexx Interpreter stack daemon

[Service]
Type=forking
ExecStart=/usr/bin/rxstack -d

[Install]
WantedBy=multi-user.target
