[Unit]
Description=Inter Net News Server (INN)
After=network-online.target
After=nss-lookup.target

[Service]
User=news
PIDFile=/run/news/innd.pid
Type=forking
ExecStart=/usr/lib/news/bin/rc.news
ExecStop=/usr/lib/news/bin/rc.news stop
ExecReload=/usr/lib/news/bin/rc.news reload
KillMode=control-group

[Install]
WantedBy=multi-user.target
