[Desktop Entry]
Name=SDL Asylum
GenericName=Asylum
Comment=Young Sigmund has a few problems
Icon=sdl-asylum
Exec=sdl-asylum
Type=Application
Categories=Game;LogicGame;
StartupNotify=false
