logformat "L%Y-%m-%d %H:%M:%S %z - %C %U - %E ""%T"" %I %O - %N/%R:%r"
log /var/log/3proxy/3proxy.log D
rotate 30
archiver xz xz -9e %F

auth iponly
allow * 127.0.0.1 *
#parent 1000 socks5 SERVER PORT USER PASSWORD
socks
