[Desktop Entry]
Name=SDL Scavenger
GenericName=Lode Runner
Comment=Lode Runner like game
Icon=sdlscavenger
Exec=sdlscavenger
Type=Application
Categories=Game;LogicGame;
StartupNotify=false
