[Unit]
Description=Homematic LAN Adapter service
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/hmland
ExecStart=/usr/sbin/hmland -p ${HMLAND_PORT} $HMLAND_OPTS

[Install]
WantedBy=multi-user.target

