[Unit]
Description=rTorrent daemon
Requires=network.target local-fs.target

[Service]
Type=forking
RemainAfterExit=yes
KillMode=none
EnvironmentFile=-/etc/sysconfig/rtorrent
ExecStart=/usr/bin/screen -d -m -S rtorrentd /usr/bin/rtorrent
ExecStop=/usr/bin/screen -S rtorrentd -X quit
User=rtorrent
Group=rtorrent
WorkingDirectory=~

[Install]
WantedBy=multi-user.target