[Desktop Entry]
Name=findbugs
GenericName=findbugs
Comment=Bug Pattern Detector for Java
Exec=findbugs
Terminal=false
Type=Application
Icon=findbugs
Categories=Development;Debugger;X-JPackage;
