[Unit]
Description=NTP Server Daemon
Documentation=man:ntpd(1)
After=nss-lookup.target
Conflicts=systemd-timesyncd.service
Wants=network.target
After=network.target
Wants=time-sync.target
Before=time-sync.target
ConditionVirtualization=!container
ConditionCapability=CAP_SYS_TIME

[Service]
Type=forking
PIDFile=/var/run/ntp/ntpd.pid
ExecStart=/usr/sbin/start-ntpd start
RestartSec=11min
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
