[Desktop Entry]
Encoding=UTF-8
Exec=kroot xpenguins
Type=Application
Name=xpenguins
Icon=xpenguins
Name[cs]=xpenguins
Name[de]=xpenguins
Name[en]=xpenguins
Name[hu]=xpenguins
Comment=small pinguins on the desktop
Comment[cs]=Malí tučňáci na pracovní ploše
Comment[de]=Kleine Pinguine auf der Arbeitsfläche
Comment[en]=small pinguins on the desktop
Comment[hu]=kis pingvin a munkaasztalon
