[Desktop Entry]
Name=Nitrogen
Comment=Background browser and setter
GenericName=Nitrogen
Exec=nitrogen
Icon=nitrogen
Terminal=false
Type=Application
Categories=Settings;DesktopSettings