[Desktop Entry]
Type=Application
Exec=konsole --profile "Root Shell"
Icon=utilities-terminal_su
X-DocPath=konsole/index.html
Terminal=false
X-KDE-StartupNotify=true
Name=Terminal - Super User Mode
X-DBUS-StartupType=Unique
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;
