[Desktop Entry]
Name=CppUnit API
Comment=CppUnit development kit 
Comment[de]=CppUnit Entwicklungspaket 
Comment[hu]=CppUnit fejlesztői készlet
DocPath=/usr/share/doc/packages/cppunit-devel-doc/index.html
X-DOC-SearchMethod=htdig

