[Desktop Entry]
Name=Xgnokii
GenericName=Mobile Phone Suite
Comment=Manage your mobile phone
Icon=gnokii
Exec=xgnokii
Terminal=false
Type=Application
Categories=Utility;TelephonyTools;Calendar;ContactManagement;Office;GTK;
