[Unit]
Description=collaborative text editor service
Documentation=man:infinoted(1)
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/infinoted
ExecStart=/usr/bin/infinoted ${INFINOTED_OPTIONS}

[Install]
WantedBy=multi-user.target

