[Unit]
Description=Racoon IPSEC policies
After=network.target
ConditionPathExists=/etc/racoon/setkey.conf
PartOf=racoon.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/sysconfig/racoon
ExecStart=/usr/sbin/setkey $SETKEY_OPTIONS -f /etc/racoon/setkey.conf
ExecStop=/usr/sbin/setkey $SETKEY_FLUSH_OPTIONS

[Install]
WantedBy=multi-user.target
