[Unit]
Description=saslauthd Server Daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/saslauthd
ExecStart=/usr/sbin/saslauthd  -a $SASLAUTHD_AUTHMECH -n $SASLAUTHD_THREADS $SASLAUTHD_PARAMS
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target

