[Desktop Entry]
Name=Mayavi
Comment=TVTK Documentation
GenericName=TVTK Documentation
Exec=tvtk_doc %U
StartupNotify=true
Terminal=false
Type=Application
Icon=tvtk_doc
Categories=GNOME;Education;3DGraphics;X-Science,X-DataVisualization;
