[Unit]
Description=vgetty on /dev/%I
Documentation=man:vgetty(8)
BindsTo=dev-%i.device
After=dev-%i.device systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service
Before=getty.target
IgnoreOnIsolate=yes

[Service]
ExecStart=-/usr/sbin/vgetty /dev/%I
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=%I
TTYPath=/dev/%I
KillMode=process
IgnoreSIGPIPE=no

[Install]
WantedBy=getty.target
