[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/scheduler
User=kube
ExecStart=/usr/bin/hyperkube scheduler \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_MASTER \
	    $KUBE_FEATURE_GATES \
	    $KUBE_SCHEDULER_ARGS
Restart=on-failure
LimitNOFILE=65536

# Kubernetes services should be under the podruntime slice. This the recommended
# deployment to allow fine resource control on Kubernetes.
Slice=podruntime.slice

[Install]
WantedBy=multi-user.target
