[Desktop Entry]
Encoding=UTF-8
Name=GCompris Administration
GenericName=GCompris Administration
GenericName[ru]=Административный интерфейс
Comment=Administration for gcompris
Comment[ar]=قسم إدارة gcompris
Comment[bg]=Администриране на GCompris
Comment[ca]=Administració per el gcompris
Comment[cs]=Administrace gcomprisu
Comment[da]=Administration af GCompris
Comment[de]=GCompris-Administration
Comment[en_CA]=Administration for gcompris
Comment[en_GB]=Administration for gcompris
Comment[es]=Administración de gcompris
Comment[eu]=Gcompris-en administrazioa
Comment[fi]=Gcomprisin hallinta
Comment[fr]=Administration de GCompris
Comment[hu]=Adminisztráció a GCompris-hoz
Comment[it]=amministrazione di gcompris
Comment[ka]=პროგრამის მართვა
Comment[lt]=GCompris administravimas
Comment[mr]=खेळगंमतसाठी व्यवस्थापन
Comment[nb]=Administrasjon for GCompris
Comment[nl]=Administratie voor gcompris
Comment[nn]=Administrering for GCompris
Comment[pl]=GCompris - administracja
Comment[pt]=Administração do GCompris
Comment[pt_BR]=Administração do GCompris
Comment[ru]=Административный интерфейс для GCompris
Comment[so]=Maamulida Gcompris
Comment[sv]=Administration av gcompris
Comment[th]=การบริหารระบบสำหรับ GCompris
Comment[tr]=Gcompris için yönetici
Comment[vi]=Quản lý GCompris
Comment[zh_TW]=gcompris 系統管理
Exec=gcompris -a
Icon=gcompris
Terminal=false
Type=Application
Categories=System;SystemSetup;
StartupNotify=true
