[Desktop Entry]
Name=Taglib API reference
Name[de]=Taglib API Referenz
Name[hu]=Taglib API referencia
DocPath=/usr/share/doc/packages/libtag-devel/html/index.html
X-DOC-SearchMethod=htdig
