[Desktop Entry]
Name=The Lost Feathers
GenericName=The Lost Feathers
Comment=Help a bird to recover his magical feathers
Icon=lostfeathers
Exec=lostfeathers
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=false
