# the following check requires an additional command option 
# for the running mailgraph process:
#  -s /var/log/mailgraph/mailgraph.stats
# Please make sure that the file and a file with the 
# same name but ending .old exist and are writable by 
# the user executing the check below. Example:
#   touch /var/log/mailgraph/mailgraph.stats{,.old}
#   chown nagios: /var/log/mailgraph/mailgraph.stats{,.old}
command[check_mailstat]=/usr/lib/nagios/plugins/check_mailstat -w 1000:0:0:0:0:10 -c 2000:0:0:0:0:30 -s /var/log/mailgraph/mailgraph.stats
