[Unit]
Description=Write information about system start to sysstat log
After=remote-fs.target local-fs.target
Before=cron.service

[Service]
Type=oneshot
ExecStart=/usr/lib/sa/sa1  --boot
ExecStart=/bin/ln -fs /etc/sysstat/sysstat.cron /etc/cron.d/sysstat
ExecStop=/bin/rm -f /etc/cron.d/sysstat
StandardOutput=null
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
