# This file is part of package rrdtool.
#
# Description:
#
#  Used to start rrdcached Data caching daemon for rrdtool
#

[Unit]
Description=RRDcached RRD Data Caching Service
Requires=var-run.mount
Wants=network.target
After=network.target

[Service]
Type=forking
ExecStartPre=-/bin/echo 'Starting RRD data caching service (rrdtools - rrdcached)'
ExecStartPre=/bin/sh -c "/usr/share/rrdcached/rrdcached-systemd-pre"
EnvironmentFile=-/etc/sysconfig/rrdcached
ExecStart=/usr/bin/rrdcached -s $RRDCACHED_GROUP -b "$RRDCACHED_CHROOT_DIR" -p /run/rrdcached/rrdcached.pid -l $RRDCACHED_ADDRESS -m $RRDCACHED_SOCKET_MASK -w $RRDCACHED_DISKWRITE -z $RRDCACHED_DELAY -t $RRDCACHED_WRITE_THREADS $RRDCACHED_OPTIONS
Restart=always
RestartSec=1
PIDFile=/run/rrdcached/rrdcached.pid
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
