[Unit]
Description=The BIRD Internet Routing Daemon
Documentation=http://bird.network.cz/doc/bird.html
Wants=network.target
After=network.target
ConditionFileIsExecutable=/usr/sbin/bird

[Service]
Type=simple
ExecStartPre=/usr/sbin/bird -p -u bird -g bird
ExecStart=/usr/sbin/bird -u bird -g bird -f -P /run/bird/bird.pid $BIRD_OPTIONS
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/run/bird/bird.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
