[Unit]
Description=Userspace Daemon of the spacenav driver.

[Service]
Type=forking
PIDFile=/var/run/spnavd.pid
ExecStart=/usr/sbin/spacenavd
StandardError=syslog

[Install]
WantedBy=multi-user.target
