[Desktop Entry]
Encoding=UTF-8
GenericName=Text Editor
Name=Minimum Profit (GTK+3 version)
MimeType=text/plain;
Exec=mp-5-gtk3 %U
Icon=mp-5
Type=Application
Terminal=false
Categories=GTK;TextEditor;
