[Unit]
Description=Munin CGI HTML generator
Requires=network.target

[Service]
Type=forking
ExecStart=/usr/bin/spawn-fcgi -s /var/run/munin/munin-cgi-html.sock -P /var/run/munin/munin-cgi-html.pid -u munin -g munin -M 0770 -U munin -G www /srv/www/cgi-bin/munin-cgi-html
PIDFile=/var/run/munin/munin-cgi-html.pid 

[Install]
WantedBy=multi-user.target
