[Unit]
Description=Munin CGI Graph generator
Requires=network.target

[Service]
Type=forking
ExecStart=/usr/bin/spawn-fcgi -s /var/run/munin/munin-cgi-graph.sock -P /var/run/munin/munin-cgi-graph.pid -u munin -g munin -M 0770 -U munin -G www /srv/www/cgi-bin/munin-cgi-graph
PIDFile=/var/run/munin/munin-cgi-graph.pid 

[Install]
WantedBy=multi-user.target
