[Desktop Entry]
Encoding=UTF-8
Terminal=true
Exec=weechat-curses
Icon=weechat
Type=Application
Categories=
StartupNotify=false
Name=Weechat
GenericName=IRC Client

