# This is a simple configuration example.
# It sends all requests from port 80 to port 8080 on the same machine.

# Start pound as User with Group
User  "pound"
Group "pound"

# Replace "localhost" by your IP or host name
ListenHTTP
    Address localhost
    Port    80

    Service
	HeadRequire "Host: .*localhost.*"

	BackEnd
	    Address localhost
	    Port    8080
	End
    End
End

