[Desktop Entry]
Encoding=UTF-8
Name=PathFinder
Icon=pathfinder
Exec=PathFinder
GenericName=File Manager
GenericName[de]=Dateimanager
Terminal=false
Type=Application
Categories=Application;System;FileManager;
