# example configurations for check_openvpn
# do not forget to add something like the following line to your openvpn config (in /etc/openvpn/)
#
# management 127.0.0.1 7506
#
command[check_openvpn_tcp]=/usr/lib/nagios/plugins/check_openvpn -H localhost -p 7506 -t 30 -V 
command[check_openvpn_udp]=/usr/lib/nagios/plugins/check_openvpn -H localhost -p 7505 -t 30 -V 
