[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=treeline
Icon=treeline
Name=TreeLine
GenericName=Outliner
MimeType=application/x-treeline;application/x-treeline-gz;application/x-treepad;text/xml;
