[Desktop Entry]
Exec=wine %f
Name=Wine
NoDisplay=true
Name[af]=Wyn
Name[lo]=ເຄືອ
Name[ta]=¨Åý
Name[ven]=Veini
Name[zu]=Iwayini
GenericName=Run Windows Programs
GenericName[af]=Hardloop Vensters Programme
GenericName[be]=Выканаць Windows праграмы
GenericName[bg]=Програма за Изпълнение на Windows Програми
GenericName[bs]=Pokretanje Windows programa
GenericName[ca]=Engega programes Windows
GenericName[cs]=Provozujte programy z Windows
GenericName[da]=Kører Windows programmer
GenericName[de]=Windows-Programme ausführen
GenericName[el]=Εκτέλεση προγραμμάτων Windows
GenericName[eo]=Lanĉu Vindozaj Programoj
GenericName[es]=Ejecución de programas de Windows
GenericName[et]=Windows rakenduste käivitamine
GenericName[eu]=Windows Programak Abiarazten Ditu
GenericName[fa]=اجرای برنامه‌های ویندوز‌
GenericName[fi]=Aja Windows ohjelmia
GenericName[fr]=Fait fonctionner des programmes Windows
GenericName[he]=הפעלת תוכניות של Windows
GenericName[hu]=Windows-emulátor
GenericName[is]=Keyra Windows forrit
GenericName[it]=Esecuzione programmi windows
GenericName[ja]=Windowsプログラム実行
GenericName[lo]=ໂປຣແກຣມວາດພາບທຳມະດາ
GenericName[lt]=Leisti Windows programas
GenericName[lv]=Darbina Windows Programmas
GenericName[mk]=Стартувај Windows програми
GenericName[mn]=Виндовсын-Програм ажиллуулах
GenericName[nb]=Kjør Windows-programmer
GenericName[nl]=Windows-programma's draaien
GenericName[nn]=Køyr Windows-program
GenericName[nso]=Tsamaisa Mananeo a di-Window
GenericName[pl]=Środowisko do uruchamiania programów Windows
GenericName[pt]=Executar Programas de Windows
GenericName[pt_BR]=Executar Programas do Windows
GenericName[ro]=Rulează programe de Windows
GenericName[ru]=Выполнение программ Windows
GenericName[se]=Vuoje Windows-prográmmaid
GenericName[sk]=Beh aplikácií Windows
GenericName[sl]=Poganjanje programov za Windows
GenericName[sv]=Kör Windows-program
GenericName[ta]=Å¢ý§¼¡Š ¿¢Ãø¸¨Ç þÂìÌ
GenericName[tr]=Windows Programlarını Çalıştır
GenericName[uk]=Запуск програм Windows
GenericName[ven]=Mbekanyamushumo yau tshimbidza dziwindow
GenericName[vi]=Chạy chương trình của Windows
GenericName[xh]=Sebenzisa Udweliso lweenkqubo lwe Windows
GenericName[zh_CN]=运行 Windows 程序
GenericName[zh_TW]=執行 Windows 程式
GenericName[zu]=Sebenzisa izinhlelo zemisebenzi zama-WIndow
Icon=wine
Type=Application
MimeType=application/x-msdos-program;application/x-ms-dos-executable;application/x-msi;application/x-win-lnk;application/x-ms-shortcut;
Encoding=UTF-8
X-KDE-StartupNotify=false
