[Desktop Entry]
Exec=msiexec /i %f
Name=Wine MSI Installer
NoDisplay=true
GenericName=Run MSI Installers
Icon=wine
Type=Application
MimeType=application/x-msi;
Encoding=UTF-8
X-KDE-StartupNotify=false
